<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="./pocha-portrait.html">

<dom-module id="board-player">
  <template>
    <style>
      :host {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-between;
        width:100%;
      }
      paper-fab {
        --paper-fab-background: var(--app-primary-color,green);
        flex-grow: 0;
        flex-shrink: 0;
      }
      .minus {
        font-size: 12px;
      }
      .plus{
        font-size:20px;
      }
      .info{
        flex-grow: 1;
        flex-shrink: 1;
      }
      pocha-portrait{
        --background-color: var(white,white);
        width: 50px;
        height: 50px;
      }
    </style>
    <!-- ..... local dom goes here ........................................ -->
    <paper-fab class="minus" on-tap="minus" title="minus" label="💩" mini=""></paper-fab>
    <pocha-portrait src="[[portrait]]" ro=""></pocha-portrait>
    <div class="info">[[scoreBase]] + [[scoreChange]] = [[score]] ( [[scoreTips]] )</div>
    <paper-fab on-tap="plus" class="plus" title="add" label="👍"></paper-fab>
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class BoardPlayer extends Polymer.Element {
      static get is () { return 'board-player'}
      static get properties (){
        return {
          portrait: {
            type: String,
            readOnly: false,
            notify: false,
          },
          scoreBase:{
            type: Number,
            notify: false,
            value: 0,
          }, //FIXME: no color
          //TODO: ro
          score:{
            type: Number,
            notify: false,
            value: 10,
          },
          scoreTips:{
            type: Number,
            notify: false,
            reflectToAttribute: true,
            value: 1,
          },
          scoreChange:{
            type: Number,
            notify: false,
            value: 5,
          },
          playerId:{
            type: String,
            readOnly: false,
          },
        };
      }

      minus(e){
        let old = this.scoreTips;
        this.scoreTips --;
        this._raiseChangeEvent('minus', old);
      }

      plus(e){
        let old = this.scoreTips;
        this.scoreTips ++;
        this._raiseChangeEvent('plus', old);
      }

      _raiseChangeEvent(event, oldValue){
        this.dispatchEvent(new CustomEvent('tipsChanged', {
          detail: {
            tips: this.scoreTips,
            event,
            oldValue,
            playerId: this.playerId,
          },
          bubbles: true, 
          composed: true,
        })); 
      }

    }
    customElements.define(BoardPlayer.is, BoardPlayer)
  </script>
</dom-module>
