<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="./pocha-rules.html">

<dom-module id="board-rules">
  <template>
    <style>
      :host {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      paper-toggle-button{
        flex-grow: 1;
        justify-content: center
      }
    </style>
    <!-- ..... local dom goes here ........................................ -->
    <template is="dom-repeat" items="[[options]]">
      <paper-toggle-button on-change="onSwitchChange" checked="[[item.selected]]">[[item.flag]]</paper-toggle-button>
    </template>
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class BoardRules extends Polymer.Element {
      static get is () { return 'board-rules'}
      static get properties(){
        return {
          selected: {
            type: Array,
            notify: true,
            reflectToAttribute: true,
          },
          rulesOf: String,
          options:{
            type: Array,
            computed: "computeOptions(rulesOf,selected)"
          }
        }
      }
      computeOptions(rulesOf, selectedArray){
        if (rulesOf){
          let pochaRulesElement = document.createElement("pocha-rules");
          let available = pochaRulesElement.availableRoundFlags(rulesOf);
          let result = available.map(x => {
            let isSelected=x.default;
            if (selectedArray){
              isSelected = selectedArray.indexOf(x.flag) !== -1;
            }
            return {flag: x.flag, selected: isSelected}
          });
          return result;
        } else {
          return [];
        }
      }

      onSwitchChange(e){
        let component = e.target;
        let option = component.textContent;
        let checked = component.checked;
        let newSelected = this._computeNewSelected (option, checked);
        this.selected = newSelected;
        this._riseChangeEvent(newSelected);
      }

      _computeNewSelected(opt, value){
        var result = this.selected.slice();//clone
        var location = result.indexOf(opt)
        var alreadyExist = location !== -1;
        if(value && !alreadyExist){
          result.push(opt);
        } else if (!value && alreadyExist){
          result.splice(location, 1);
        }
        return result;
      }

      _riseChangeEvent(selectedArray){
        this.dispatchEvent(new CustomEvent('changed', {
              detail: {selected: selectedArray},
              bubbles: true, 
              composed: true,
            })); 
      }

    }
    customElements.define(BoardRules.is, BoardRules)
  </script>
</dom-module>
