<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
--><link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="./pocha-state.html">
<link rel="import" href="./setup-playerlist.html">
<link rel="import" href="./setup-rules.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 0px;
      }
      .boardlink{
        text-decoration: none;
        color: inherit;
        align-self: right;
      }
      .boardlink paper-button {
        color: var(--text-primary-color,white);
        background-color: var(--accent-color,blue);
      }
      .boardlink paper-button:hover{
      }
      footer  {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    </style>

    <div class="card">
      <h1>Configuración</h1>
      <h3>Normas</h3>
      <div>
       <setup-rules selected="[[rule]]">
      </setup-rules></div>
      <h3>Jugadores</h3>
      <p>
       <setup-playerlist></setup-playerlist>
      </p>
      <footer>
        <paper-button id="reset">Reiniciar Partida</paper-button>
        <a class="boardlink" name="view2" href="view2"><paper-button raised="">Puntuaciones</paper-button></a>
      </footer>
    </div>
  </template>

  <script>
    class MyView1 extends PochaState {
      static get is() { return 'my-view1'; }
      static get properties (){
        return {
          rule: {
            type: String,
            reflectToAttribute: true,
            statePath:'rules.ruleset'
          },
        };
      }
      ready(){
        super.ready();
        let setupRules = this.shadowRoot.querySelector('setup-rules');
        setupRules.addEventListener('changed', e => {
          let selected = e.detail.selected;
          let action = this.actions.changeRules(selected);
          this.dispatch(action);
        })
        let setupPlayerlist = this.shadowRoot.querySelector('setup-playerlist');
        setupPlayerlist.addEventListener('portraitchanged', e => {
          let action = this.actions.setPortrait(e.detail.playerId, e.detail.src);
          this.dispatch(action);
        })
        this.$.reset.addEventListener('click', e => {
          this.dispatch(this.actions.reset())
        })
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
