<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
--><link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="./pocha-state.html">
<link rel="import" href="./pocha-rules.html">
<link rel="import" href="./board-player-list.html">
<link rel="import" href="./board-rules.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      footer {
        display: flex;
        justify-content:flex-end;
      }
      footer paper-button {
        background: var(--app-primary-color, blue);
        color: white;
      }
    </style>

    <div class="card">
      <div class="circle">[[ round ]]</div>
      <h1>Ronda: [[ round ]]</h1>
      <h2>Opciones</h2>
      <board-rules rules-of="[[ruleSet]]" selected="[[roundFlags]]"></board-rules> 
      <h2>Jugadores</h2>
      <board-player-list id="boardPlayerList"></board-player-list>
      <footer>
        <paper-button on-tap="createRound">Nueva Ronda</paper-button>
      </footer>
    </div>
  </template>

  <script>
    class MyView2 extends PochaState {
      static get is() { return 'my-view2'; }

      static get properties() {
        return {
          round: {
            type: Number,
            //readOnly: true,
            notify: false,
            reflectToAttribute: true,
            //value: {name:"demo"},
            statePath: 'scoring.round' // Binds state, "Hello, World!"
          },
          ruleSet: {
            type: String,
            statePath: 'rules.ruleset' // Binds state, "Hello, World!"
          },
          roundFlags: {
            type: Array,
            statePath: 'rules.roundflags'
          },
          score: {
            type: Object,
            //readOnly: true,
            notify: false,
            reflectToAttribute: true,
            //value: {name:"demo"},
            statePath: 'scoring.score' // Binds state, "Hello, World!"
          },
          nextScore:{
            type: Object,
            notify: false,
            statePath: selectors.totals,
          },
          players: {
            type: Object,
            //readOnly: true,
            notify: false,
            reflectToAttribute: true,
            //value: {name:"demo"},
            statePath: 'players' // Binds state, "Hello, World!"
          },
        };
      }

      onTipChange (e){
        var info = e.detail
        var delta = this.ruleComponent.delta(this.ruleSet, info.tips, this.roundFlags);
        var action = this.actions.setScore(info.playerId, info.tips, delta);
        this.dispatch (action);
        this.notifyPath('score.'+info.playerId);
      }
      
      constructor (){
        super();
        this.ruleComponent = document.createElement("pocha-rules");
      }

      ready(){
        super.ready();
        let boardRules = this.shadowRoot.querySelector('board-rules');
        boardRules.addEventListener('changed', e => {
          let selected = e.detail.selected;
          let action = this.actions.changeRuleRoundFlags(selected);
          this.dispatch(action);
        })
        this.addEventListener('tipsChanged',this.onTipChange)
      }

      createRound(e){
        this.dispatch(this.actions.newRound(this.nextScore));
      }

    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
