<link rel="import" href="../bower_components/polymer-redux/polymer-redux.html">
<link rel="import" href="../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<script src="../node_modules/redux/dist/redux.js"></script>
<script src="./pocha-state/initialState.js"></script>
<script src="./pocha-state/reducers/players.js"></script>
<script src="./pocha-state/reducers/scoring.js"></script>
<script src="./pocha-state/reducers/rules.js"></script>
<script src="./pocha-state/reducers/screen.js"></script>
<script src="./pocha-state/reducers/preglobal.js"></script>
<script src="./pocha-state/actions.js"></script>
<link rel="import" href="./pocha-state/selector.html">
<link rel="import" href="./pocha-state-persistence.html">

<script>
    // create reducer
    const b = (state, action) => {
        return { stateB: "bar" };
    };
    // see https://wecodetheweb.com/2016/02/12/immutable-javascript-using-es6-and-beyond/
    const reducer = (pre, curr) => {
        let main = Redux.combineReducers({
            players, 
            scoring,  
            rules,
            screen,
        })
        return main(preGlobal( pre, curr ),curr);
    }
    // Create a persistence object
    const pochaStatePersistence = new PochaStatePersistence();
    // Create a Redux store
    const store = Redux.createStore(reducer, pochaStatePersistence.state, window.__REDUX_DEVTOOLS_EXTENSION__ && window.__REDUX_DEVTOOLS_EXTENSION__());
    // Notify to persistence object
    store.subscribe( () => { pochaStatePersistence.state = store.getState(); })
    // Create the PolymerRedux mixin
    const ReduxMixin = PolymerRedux(store)

    // Bind Elements using the mixin
    class PochaState extends ReduxMixin(Polymer.GestureEventListeners(Polymer.Element)) {
        static get is() {
            return 'pocha-state'
        }

        get actions() {
            return reduxActions;
        }

        get selectors() {
            return selectors;
        }

        connectedCallback() {
            super.connectedCallback();
            const state = this.getState();
        }

        get state (){
            return this.getState()
        }
    }

    // Define your Element
    customElements.define(PochaState.is, PochaState)
</script>