<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="./pocha-state.html">
<link rel="import" href="./pocha-portrait.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">

<dom-module id="setup-player">
  <template>
    <style>
      :host{
        display: inline-block;
        border-style: inset;
        border-radius: 20px;
        background: [[player.color]];
        background: -moz-linear-gradient(top, [[player.color]] 0%, #f6f6f6 53%, #ffffff 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, [[player.color]]), color-stop(53%, #f6f6f6), color-stop(100%, #ffffff));
        background: -webkit-linear-gradient(top, [[player.color]] 0%, #f6f6f6 53%, #ffffff 100%);
        background: -o-linear-gradient(top, [[player.color]] 0%, #f6f6f6 53%, #ffffff 100%);
        background: -ms-linear-gradient(top, [[player.color]] 0%, #f6f6f6 53%, #ffffff 100%);
        background: linear-gradient(to bottom, [[player.color]] 0%, #f6f6f6 53%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='[[player.color]]', endColorstr='#ffffff', GradientType=0 );
      }
      paper-fab {
        display: block;
        left: 88px;
        bottom: 3px;
        z-index: 1;
      }
      .container{
        position: relative;
        
      }
      pocha-portrait{
        display: block;
        --background-color: var(--light-primary-color, white);
      }
    </style>
    <!-- ..... local dom goes here ........................................ -->
    <div class="container">
      <pocha-portrait size="8em" src="[[player.portrait]]" on-portrait="portraitchanged"></pocha-portrait>
      <paper-fab on-tap="ondelete" title="remove" label="❌" mini=""></paper-fab>
    </div>
    
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class SetupPlayer extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is () { return 'setup-player'}
      static get properties () {
        return{
          player: Object,
          ondelete: Object,
        };
      }
      portraitchanged(e) {
        this.dispatchEvent(new CustomEvent('portraitchanged', {
              detail: {src: e.detail.src, playerId: this.player.id},
              bubbles: true, 
              composed: true,
            })); 
      }
    }
    customElements.define(SetupPlayer.is, SetupPlayer)
  </script>
</dom-module>
