<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="./pocha-rules.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="setup-rules">
  <template>
    <style>
      paper-button[active]{
        background: var(--app-primary-color,green);
        color: lightgray;
      }
      paper-button{
        font-size: small;
      }
    </style>
    <!-- ..... local dom goes here ........................................ -->
    <template is="dom-repeat" items="[[ruleList]]">
        <paper-button toggles="" id="[[item.rule]]" raised="" disabled="[[item.selected]]" active="{{item.selected}}" on-tap="onTap" class="">[[item.rule]]</paper-button>          
    </template>
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class SetupRules extends Polymer.Element {
      static get is () { return 'setup-rules'};
      static get properties(){
        return {
          selected: {
            type: String,
            notify: true,
            reflectToAttribute: true,
          },
          ruleList:{
            type: Object,
            notify: true,
            computed: 'selectedRules(selected)'
          }
        }
      };
      get options (){
        var pochaRulesElement = document.createElement("pocha-rules");
        return pochaRulesElement.options
      }
      selectedRules(selected){
        if(this.selected){}else{this.selected=this.options[0]}
        return this.options.map( (x) => { 
          return {rule: x, selected: selected==x }
        });
      }

      onTap(e)
      {
          let rule = e.target.id
          if (rule!==this.selected){
            this.selected = rule;
            this.dispatchEvent(new CustomEvent('changed', {
              detail: {selected: rule},
              bubbles: true, 
              composed: true,
            })); 
          }
      }
    }
    customElements.define(SetupRules.is, SetupRules)
  </script>
</dom-module>
